    #jeu{
      margin-left: 20%;
      margin-right: 20%;
      margin-top: 5%;
      height: 600px;
      border: 2px black solid;
      overflow: hidden;
      position: relative;
    }
    #jeu.stop-scrolling {
    height: 100%;
    overflow: hidden;
    }
    .fond{
      margin-right:-5px; 
      z-index: 10;
      position: relative;
    }
    #lapin{
      z-index: 100; 
      position: absolute; 
      top: 50px; 
      left: 48px;
    }
    #vr{
      z-index: 80; 
      position: absolute; 
      top: -200px; 
      left: 0px;
    }
    #acceuil{
      margin-left: auto;
      margin-right: auto;
      height: 80%;
      padding: 2%;
      width: 50%;
      background-color:#32C2C2;
      border-radius: 10px;
      border-style: solid;
    }
    #titreEntreprise{
      border-color: black;
      border-radius: 4;
      border-style: solid;
      background-color: #32C2C2;
      margin-top: 0px;
    }
    footer{
      position: relative;
      bottom:0;
      right: 0;
      width: 100%;
      height: 25px;
      border: 3px solid black;
      border-radius: 10px;
    }
    body{
      height: 100%;
      width: 100%;
    }