    #jeu{
      margin-left: 20%;
      margin-right: 20%;
      margin-top: 5%;
      height: 600px;
      border: 2px black solid;
      overflow: hidden;
      position: relative;
    }
    .fond{
      margin-right:-5px; 
      z-index: 10;
      position: relative;
    }
    #lapin{
      z-index: 100; 
      position: absolute; 
      top: 50px; 
      left: 48px;
    }
    #vr{
      z-index: 80; 
      position: absolute; 
      top: -200px; 
      left: 0px;
    }